---
import { DirectionAwareHover } from "../components/tsx/direction-aware-hover";
import type { Project } from "../features/projects/projects";
import { cn } from "../shared/cn";
import BentoText from "./BentoText.astro";

type Props = Pick<Project, "title" | "description" | "projectImg" | "href"> & {
  icon?: string;
  className?: string;
};

const { className, title, description, projectImg, icon, href } = Astro.props;
---

<a
  class={cn(
    "group/bento shadow-input row-span-1 flex cursor-pointer flex-col justify-start space-y-4 rounded-xl border  p-4 transition duration-200 hover:shadow-xl border-white/[0.2] bg-zinc-950 shadow-none",
    className,
  )}
  href={href}
  id={title.split(" ")[0]}
>
  <DirectionAwareHover
    imageUrl={projectImg}
    transitionName={`${title.split(" ")[0]}-img`}
    client:visible
  >
    <p class="text-lg font-bold">{title}</p>
    <p class="!text-xs font-medium">Click to Learn More</p>
  </DirectionAwareHover>
  <div class="transition duration-200 group-hover/bento:translate-x-2">
    {icon}
    <BentoText title={title} description={description} />
  </div>
</a>
